/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-beige: #dfdbc9;
  --color-beige2: #544c31;
  --color-blue: #3f499e;
  --color-blue2: #444978;
  --color-blue3: #0a0e33;
  --color-blue4: #afbcc7;

  /* Font size */
  --font-large: 48px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*size*/
  --size-border-radius: 4px;

  /* ani */
  --anmimation-duration: 300ms;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar*/
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue2);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-blue3);
}

.navbar__togle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* home */
#home {
  background: url("image/home-background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* about */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue3);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--anmimation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-blue3);
  transform: rotate(-30deg) scale(1.2);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name {
  color: var(--color-dark-grey);
  font-size: var(--font-small);
}

.job__period {
  color: var(--color-light-grey);
  font-size: var(--font-micro);
}

.job__logo {
  width: 50px;
  height: 50px;
}

/* skills */

#skills {
  background-color: var(--color-blue4);
}

.skillset {
  display: flex;
  background-color: var(--color-blue);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-blue3);
  padding: 20px 40px;
}

.skills {
  margin-bottom: 30px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-blue2);
  margin: 5px 0px;
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-blue2);
}

.tools,
.etc {
  padding: 20px;
}

/* work */

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.category__btn.active .catgory__count,
.category__btn:hover .catgory__count {
  opacity: 1;
  top: 0;
}

.catgory__count {
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-dark-grey);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--anmimation-duration) ease;
}

#work {
  text-align: center;
  padding: 50px;
}
.work__projects > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work__projects > ul > li {
  display: inline-block;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  color: #fff;
  background-color: var(--color-dark-grey);
  overflow: hidden;
}

.project__img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.project__img > img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}

.work__projects > ul > li:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 1px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* testimonial */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 30px 0;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__avatar {
  min-width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 12px;
}

.testimonial__avatar > img {
  width: 100%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble p {
  color: var(--color-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-orange);
}

/* contact */
#contact {
  background-color: var(--color-blue3);
}

.contact_title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact_title {
  margin: 32px 0;
}

.contact__link {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__link i:hover {
  transform: scale(1.2);
  transition: all var(--anmimation-duration) ease;
  color: var(--color-blue);
}

.contact__rights {
  font-size: var(--font-small);
}

@media screen and (max-width: 765px) {
  .navbar__togle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project__img {
    flex-grow: 1;
  }

  .testimonial__avatar {
    min-width: 100px;
    height: 100px;
  }

  .work__categories {
    display: flex;
  }
}
